<template>
<v-container fluid>
    
    <v-row>
      <v-col>
        <v-text-field
            v-model="eventKeySearch"
            label="Event ID"
          ></v-text-field>
        
      </v-col>
      
    </v-row>
    <v-row>
      <v-col>
        <v-btn color="primary" @click="fetch()">Search</v-btn>
      </v-col>
      <v-col><a :href="gameUrl">Launch Game</a></v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panel" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Create New Event
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="mx-1">
                  <v-col>
                    <v-text-field label="Event Key" no-title v-model="eventKey"> </v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Event End" no-title v-model="eventEndTime"> </v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Event Name" v-model="eventName"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Event Description" v-model="eventStatement"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn @click="createEvent()" color="primary">Create Binary Event</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelResolve" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Resolve Event
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="mx-1">
                  <v-col>
                    <v-text-field label="Event ID" v-model="eventIDResolve"></v-text-field>
                  </v-col>
                  <v-col>
                      <v-select label="Yes/No" v-model="resolveYN" :items="[{text: 'Yes', value: OUTCOME_YES}, {text: 'N0', value: OUTCOME_NO}]">Resolve YES/NO</v-select>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn @click="resolve()" color="primary">Resolve</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelDeposit" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Deposit
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col>
                    <v-btn @click="deposit()" color="primary">Deposit</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelRedeem" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Transfer
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col>
                    <v-text-field label="Address" v-model="transferAddress"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn @click="transfer()" color="primary">Transfer</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelWithdraw" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Withdraw
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col>
                    <v-btn @click="withdraw()" color="primary">Withdraw</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
        <v-col cols="12">
      <v-data-table dense class="mt-4 entriesTable elevation-2"
      :items="kvTable" :headers="kvTableHeaders" caption="Contract State"
      :items-per-page="100"
      :server-items-length="rowCount"
      >
      </v-data-table>
        </v-col>
    </v-row>
    <v-snackbar v-model="snack.display" :timeout="snack.duration" :color="snack.color">
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar> 
  </v-container>
</template>

<script>
//const ethers = require('ethers');
import {BinaryOptionsClient } from '../binaryoptionsclient'
import BigNumber from 'bignumber.js'
import util from '../util'
let initialized = false

export default {
  name: 'BinaryOptions',
  props: {
    msg: String
  },
  mounted: async function(){
    if (true == initialized) return
    this.client = new BinaryOptionsClient()
    await this.client.init()
    initialized = true
    //await this.fetch()
  },
  data: function () {
    return {
      BUY : 0,
      SELL : 1,
      OUTCOME_NONE : 0,
      OUTCOME_YES : 1,
      OUTCOME_NO : 2,
      outcomes: {0: 'NONE', 1: 'YES', 2: 'NO'},
      client: '',
      accountSelected: '',
      dateNum: '',
      datetime: '',
      menu: false,
      eventKeySearch: '',
      eventName: '',
      eventStatement: '',
      eventKey: (new Date().getTime()/1000).toFixed(0),
      eventEndTime: (new Date().getTime()/1000).toFixed(0)*1 + 10,
      eventNamePool: '',
      eventStartTimeBuySell: '',
      eventStartTimePool: '',
      tokensToMint: '',
      yesProbability: '',
      collateral: '',
      tokenYN: '',
      eventIDResolve: '',
      resolveYN: '',
      eventStartTimeRedeem: '',
      eventNameRedeem: '',
      buyOrSell: '',
      buySellAmt: 1,
      buySellEventKey: '',
      buySellWorstPrice: '',
      cardWidth: 180,
      games: [],
      event: {},
      yPot: 0,
      nPot: 0,
      closedGames: [],
      expiryMinutes: 60,
      loadingStatus: true,
      hideDefaultFooter: false,
      footerProps: {
        "items-per-page-options": [15, 50, 100],
      },
      gameHeaders: [{text: 'Per Round', value: 'perRoundWager', sortable: false}, 
      {text: 'Commission', value: 'commissionDisplay', sortable: false}, {text: "Tag", value: "tag", sortable: false}],
      panel: [1],
      panelPool: [1],
      panelBuySell: [1],
      panelResolve: [1],
      panelRedeem: [1],
      panelWithdraw: [1],
      panelDeposit: [1],
      wagerPerRound: 1,
      creatorCommission: 1,
      transferAddress: '',
      yesAssured: 10,
      noAssured: 20,
      tag: '',
      baseAmt: 10,
      rowCount: 100,
      currentAccount: '',
      gameUrl: '',
      kvTable: [],
      kvTableHeaders: [{text: 'Key', value: 'Key', sortable: false}, {text: 'Val', value: 'Val', sortable: false}],
      snack: {
        display: false,
        duration: 4000,
        color: "info",
        text: "",
      },
    };
  },
  methods:{
    createEvent: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      await withSigner.createEvent(this.eventKey, this.eventEndTime, this.eventName, this.eventStatement)
    },
    purchaseYesNo: async function(){
        const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
        const sign = this.buyOrSell == this.BUY ? +1 : -1;
        const units = new BigNumber(1e18).multipliedBy(this.buySellAmt).multipliedBy(sign).toString();
        const worstPrice = new BigNumber(1e18).multipliedBy(this.buySellWorstPrice).toString();
        if (this.buyOrSell == this.BUY)
        await withSigner.transact(this.buySellEventKey, this.tokenYN, units, worstPrice, {value: worstPrice}).catch(e => {
          console.log(e)
          util.handleError(this.snack, e.data.message)
        }) ;
        else {
          await withSigner.transact(this.buySellEventKey, this.tokenYN, units, worstPrice).catch(e => {
          console.log(e)
          util.handleError(this.snack, e.data.message)
        }) ;
        }
    },
    
    resolve: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      withSigner.resolve(this.eventIDResolve, this.resolveYN).catch(e => {
        console.log(e)
        util.handleError(this.snack, e.data.message)
      })  
    },
    deposit: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      await withSigner.deposit({value: new BigNumber(1e18).toString()}).catch(e => {
        console.log(e)
        util.handleError(this.snack, e.data.message)
      })  
    },
    transfer: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      await withSigner.transferBalance(this.transferAddress).catch(e => {
        util.handleError(this.snack, e.data.message)
      })  
    },
    withdraw: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      await withSigner.withdraw().catch(e => {
        util.handleError(this.snack, e.data.message)
      })  
    },
    createPool: async function(){
      await this.client.createPool(this.eventStartTimePool, this.eventNamePool, this.yesProbability*100, this.tokensToMint).catch(e => {
        util.handleError(this.snack, e.data.message)
      })
    },
    fetch: async function(){
        this.kvTable = [];
        this.event = await this.client.contract.binaryEvents(this.eventKeySearch);
        const eventKeySearch = this.eventKeySearch;
        const routeData = this.$router.resolve({name: 'binarygame', params: {eventKeySearch}});
        this.gameUrl = routeData.href;
        this.kvTable.push({Key: 'Contract Address', Val: await this.client.contract.address})
        
        this.kvTable.push({Key: 'Event Creator', Val: this.event.creator})
        this.kvTable.push({Key: 'Event End Time', Val: this.event.endTime})
        this.kvTable.push({Key: 'Event Name', Val: this.event.name})
        this.kvTable.push({Key: 'Event Statement', Val: this.event.statement})
        
        this.kvTable.push({Key: 'Event Creator Commission %', Val: this.event.creatorCommissionBasisPoints/100})
        this.kvTable.push({Key: 'Event Outcome', Val: this.outcomes[this.event.outcome]})
        this.kvTable.push({Key: 'Pot', Val: this.pot})
        
        
        
        
    }
  }
  
}
</script>
