<template>
  <v-container fluid>
      
    <v-row>
      <v-col>
          <v-card>
                  <v-card-title>Binary Option: {{predictionEvent.statement}} Outcome: {{outcomes[predictionEvent.outcome]}}</v-card-title>
                  <v-card-title class="greenBg">YES Pot: {{yTokenSize}} FTM</v-card-title>
                  <v-card-title class="redBg">NO Pot: {{nTokenSize}} FTM</v-card-title>
                  <v-text-field label="Bid Amount" v-model="bidAmount"></v-text-field>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="bid(OUTCOME_YES)" x-large color="success">BID YES</v-btn>
                    <v-btn @click="bid(OUTCOME_NO)" x-large color="error">BID NO</v-btn>
                  </v-card-actions>
            </v-card>
      </v-col>
    </v-row>
    <v-row>
         Your Balance: {{balance}}
      </v-row>
    <v-row>
      <v-col v-show="false">
          <v-btn @click="fetch()" color="primary">REFRESH</v-btn>
      </v-col>
      <v-col>
          <v-btn @click="withdraw()" color="primary">WITHDRAW</v-btn>
      </v-col>
      </v-row>
      <v-snackbar v-model="snack.display" :timeout="snack.duration" :color="snack.color">
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar> 
  </v-container>
</template>
<script>
import { BinaryOptionsClient } from "../binaryoptionsclient";
import BigNumber from 'bignumber.js';
import util from '../util';

let initialized = false;

export default {
  name: "BinaryGame",
  mounted: async function () {
    this.eventKeySearch = this.$route.params.eventKeySearch;
    if (true == initialized) return;
    this.client = new BinaryOptionsClient();
    await this.client.init();
    initialized = true;
    await this.fetch();
    console.log(this.predictionEvent)
  },
  data: function () {
    return {
      BUY : 0,
      SELL : 1,
      OUTCOME_YES : 1,
      OUTCOME_NO : 2,
      outcomes: {0: 'NONE', 1: 'YES', 2: 'NO'},
      startTime: "",
      eventKeySearch: "",
      predictionEvent: {},
      bidAmount: '',
      yTokens: '',
      nTokens: '',
      yTokenSize: '',
      nTokenSize: '',
      yPrice: '',
      nPrice: '',
      buyOrSell: '',
      transactYesOrNo: '',
      transactUnits: '',
      balance: '',
      snack: {
        display: false,
        duration: 4000,
        color: "info",
        text: "",
      }
    };
  },
  methods: {
    fetch: async function () {
      this.kvTable = [];
      if (!this.eventKeySearch) return;
      this.predictionEvent = await this.client.contract.binaryEvents(this.eventKeySearch);
      const market = await this.client.contract.market(this.eventKeySearch);
      const balance = await this.client.contract.balances(this.client.getCurrentAccount());
      this.yTokens = market.totalYes;
      this.nTokens = market.totalNo;
      this.yTokenSize = (this.yTokens/1e18).toFixed(5);
      this.nTokenSize = (this.nTokens/1e18).toFixed(5);
      this.balance = (balance/1e18).toFixed(5);
    },
    bid: async function(side){
      if (!this.bidAmount) alert('Enter bid amount');
        const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
        const bidAmt = new BigNumber(1e18).multipliedBy(this.bidAmount).toString();
        await withSigner.makePrediction(this.eventKeySearch, bidAmt, side, {value: bidAmt}).catch(e => {
            console.log(e.data.message)
            util.handleError(this.snack, e.data.message)
            });
        setTimeout(() => {this.fetch()}, 6000);

    },
    withdraw: async function(){
        const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
        await withSigner.withdraw().catch(e => {
            console.log(e)
            util.handleError(this.snack, e.data.message)
            });
        setTimeout(() => {this.fetch()}, 6000);
    }
    
  },
};
</script>
<style scoped>
.greenBg {
  color: green;
}
.redBg {
  color: red;
}
</style>