<template>
  <v-container fluid>
    <v-row>
      <v-col
      cols="12"
      sm="6"
      md="4"
    >
      <v-alert v-if="isMobile()" type="error">On Mobile, install Metamask app, and use its browser. Normal browsers may not work.</v-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-text-field label="Search by Game Creator" v-model="accountSelected"></v-text-field>
        
      </v-col>
      <v-col
      cols="12"
      sm="6"
      md="4"
    >
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="dateSelected"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="dateSelected"
            label="Created Date"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="dateSelected"
          no-title
          scrollable
        >
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="menu = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.menu.save(dateSelected)"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>
      <v-col>
        <v-card-text>Your Current Account: {{currentAccount}}</v-card-text>
        <v-btn @click="accountSelected = currentAccount" color="primary">Fill</v-btn>
      </v-col>
      
    </v-row>
    <v-row>
      <v-col>
        <v-btn color="primary" @click="fetch()">Search</v-btn>
        &nbsp;&nbsp;<v-btn @click="$router.push('/cardtest')" color="primary">Help</v-btn>
      </v-col>
      
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panel" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Create New Game
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="mx-1">
                  <v-col cols="12"
      sm="6"
      md="4">
                    <v-text-field v-model="wagerPerRound" label="Wager per Round"></v-text-field>
                  </v-col>
                  <v-col cols="12"
      sm="6"
      md="4">
                    <v-text-field label="Commission (upto 2 dps)" v-model="creatorCommission" type="number"></v-text-field>
                  </v-col>
                  <v-col cols="12"
      sm="6"
      md="4">
                    <v-text-field label="Tag for Quick Ref" v-model="tag"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn @click="createGame()" color="primary">Create</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-data-table
        caption="Open Games"
          class="mt-4 entriesTable elevation-2"
          dense
          :headers="gameHeaders"
          :items="games"
          item-key="identifier"
          :hide-default-footer="hideDefaultFooter"
          :footer-props="footerProps"
          :items-per-page="100"
          :server-items-length="rowCount"
          :loading="loadingStatus"
          loading-text="Loading... Please wait"
          @click:row="rowClicked"
          
        >
        </v-data-table>
      </v-col>
      <v-col cols="12">
        <v-data-table
        caption="Closed Games"
          class="mt-4 entriesTable elevation-2"
          dense
          :headers="gameHeaders"
          :items="closedGames"
          item-key="identifier"
          :hide-default-footer="hideDefaultFooter"
          :footer-props="footerProps"
          :items-per-page="100"
          :server-items-length="rowCount"
          :loading="loadingStatus"
          loading-text="Loading... Please wait"
          @click:row="rowClicked"
        >
        </v-data-table>
      </v-col>
    </v-row>
    <v-snackbar v-model="snack.display" :timeout="snack.duration" :color="snack.color">
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar> 
  </v-container>
</template>
<script>
import Vue from 'vue';
import VuePlayingCard from 'vue-playing-card';
import { CardsClient } from "../cardsclient";
import util from "../util";

Vue.use(VuePlayingCard);
let initialized = false;
let client;
export default {
  data: function () {
    return {
      accountSelected: '',
      dateNum: '',
      dateSelected: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      menu: false,
      cardWidth: 180,
      games: [],
      closedGames: [],
      loadingStatus: true,
      hideDefaultFooter: false,
      footerProps: {
        "items-per-page-options": [15, 50, 100],
      },
      gameHeaders: [{text: 'Per Round', value: 'perRoundWager', sortable: false}, 
      {text: 'Commission', value: 'commissionDisplay', sortable: false}, {text: "Tag", value: "tag", sortable: false}],
      panel: [0],
      wagerPerRound: 1,
      creatorCommission: 1,
      tag: '',
      rowCount: 100,
      currentAccount: '',
      snack: {
        display: false,
        duration: 4000,
        color: "info",
        text: "",
      },
    };
  },
  mounted: async function () {
    this.snack.display = false
    await window.ethereum.enable()
    window.ethereum.on('accountsChanged', (accounts) => {
      console.log(accounts)
      initialized = false;
      this.init();
    })
    
    window.ethereum.on('chainChanged', (networkId) => {
      console.log("chainChanged  " + networkId)
      initialized = false;
      this.init();
    })
    this.init()
    
  }, 
  methods: {
    async init(){
      if (true != initialized){
        client = new CardsClient();
        const chainId = await client.init();
        if (chainId == util.chainId){
          await client.initContract()
          this.currentAccount = await client.getCurrentAccount();
          //await this.fetch()
          initialized = true;
        }
        else {
          util.handleError(this.snack, "Click on Blue button above to switch to correct provider")
        }
        this.loadingStatus = false;
      }
    },
    isMobile() {
   if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
     return true
   } else {
     return false
   }
 },
    async rowClicked(item, row){
      console.log(item)
      console.log(row)
      this.$router.push({'name': 'cardgame', query: {creator: item.creator, datenum: item.dateNum, gameid: item.id, }})
    },
    async register(){
      await client.register();
    },
    async createGame(){
      const dat = new Date();
      const dateNum = dat.getFullYear() * 10000 + ((dat.getMonth() + 1) * 100) + dat.getDate()*1;
      console.log({dateNum, tag: this.tag})
      //uint256 _roundAmt, uint256 commission, uint256 _forceOutTime, uint256 dateNum, string calldata _tag
      await client.createGame(this.wagerPerRound, this.creatorCommission*100, 300, dateNum, this.tag);
    },
    async fetch(){
      if (this.accountSelected == ''){
        util.handleError(this.snack, 'Enter Creator Account. Click Fill Button if searching games created by you')
        return;
      }
        const tokens = this.dateSelected.split("-")
        this.dateNum = tokens[0] * 10000 + tokens[1] * 100 + tokens[2]*1;
        await client.getGames(this.accountSelected, this.dateNum, this.games, this.closedGames);
        //console.log(this.games)
    }
  },
    
};
</script>
