<template>
  <v-container fluid>
    <v-row>
      <v-col
      cols="12"
      sm="6"
      md="4"
    >
    <a :href="getGameUrl()" data-action="share/whatsapp/share" v-if="isMobile()">Invite Friends via Whatsapp</a>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <v-card-title>Yours {{yourHandTitle}}</v-card-title>
      <vue-playing-card
        v-for="card in cards"
        :key="card"
        :signature="card"
        :width="cardWidth"
      mr-1></vue-playing-card>
      </v-col>
      <v-col cols="6">
        <v-card-title>Other {{otherHandTitle}}</v-card-title>
         
      <vue-playing-card
        v-for="card in revealedCards"
        :key="card"
        :signature="card"
        :width="cardWidth"
      mr-1></vue-playing-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
      <v-card-title><b>Next Turn</b>&nbsp;{{game.nextTurnNickName}} ({{game.nextPlayer}})</v-card-title>
      <v-card-title><b>Total Pot</b>&nbsp;({{game.totalPotFormatted}})</v-card-title>
      <v-card-title><b>Folded</b>&nbsp;({{foldedPlayers.length}})</v-card-title>
      </v-col>
    </v-row>
    <v-row>
        <v-col>
          <v-card>
          <v-expansion-panels v-model="panel" multiple >
            <v-expansion-panel>
              <v-expansion-panel-header
                >Game Details
              </v-expansion-panel-header>
              <v-expansion-panel-content>
            
                <v-card-text><b>Creator </b> {{game.creator}}</v-card-text>
                <v-card-text><b>Per Round </b> {{game.perRoundWager}}</v-card-text>
                <v-card-text><b>Commission </b>{{game.commission}} <b>%</b></v-card-text>
                
                <v-card-text><b>Player Count </b>{{game.playerCount ? game.playerCount.toString():''}}</v-card-text>
                <v-card-text><b>Folded </b>{{foldedPlayers}}</v-card-text>
                <v-card-text><b>State </b>{{gameStates[game.state]}}</v-card-text>
                <v-card-text><b>Winner </b>{{game.gameWinner}}</v-card-text>
            
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          </v-card>
        </v-col>
    </v-row>
    <v-row>
      <v-col v-show="game.state == CREATED && !joinedTheGame">
            <v-text-field label="Nickname" v-model="nickname"></v-text-field>
      </v-col>
      <v-col v-show="game.state == CREATED && !joinedTheGame">
            <v-btn color="primary" @click="joinGame()">Join Game</v-btn>
      </v-col>
      <v-col v-show="isGameOwner && game.state == CREATED && game.playerCount > 1">
       <v-btn color="primary" @click="startGame()">Start Game</v-btn>
      </v-col>
    </v-row>
    <v-row v-show="game.nextTurn == this.currentAccount">
      <v-col v-show="game.state == STARTED">
       <v-btn color="primary" @click="playTurn()" :disabled="game.nextTurn != currentAccount">Play Your Turn</v-btn>
      </v-col>
      <v-col v-show="game.state >= STARTED && game.state != this.PAID_OUT ">
       <v-btn color="primary" @click="fold()" :disabled="game.nextTurn != currentAccount">Fold</v-btn>
      </v-col>
      <v-col v-show="game.state == STARTED">
       <v-btn  color="primary" @click="askForShow()">Ask For Show</v-btn>
      </v-col>
      <v-col v-show="displayRevealButton">
       <v-btn  color="red" @click="revealHand()">Reveal My Hand to Requestor</v-btn>
      </v-col>
      <v-col v-show="(game.state == WINNER_COMPUTED && game.winner == currentAccount) || game.state == ALL_FOLDED_BUT_ONE">
       <v-btn color="primary" @click="payout()">Payout</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
       <v-btn color="primary" @click="refresh()">Refresh</v-btn>
      </v-col>
      <v-col  v-show="game.state == REVEALED">
       <v-btn color="primary" @click="computeWinner()">Compute Winner</v-btn>
      </v-col>
    </v-row>
    <v-snackbar v-model="snack.display" :timeout="snack.duration" :color="snack.color">
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar> 
  </v-container>
</template>
<script>
import Vue from 'vue';
import VuePlayingCard from 'vue-playing-card';
import { CardsClient } from "../cardsclient";
import util from "../util";
import {gameStates} from '../cardsclient';

Vue.use(VuePlayingCard);
let initialized = false;
let client;
export default {
  data: function () {
    return {
      gameUrl : 'whatsapp://send?text=',
      cardWidth: 180,
      cards: [],
      revealedCards: [],
      panel: [],
      gameStates,
      //gameStates: {0: 'NOT_CREATED', 1: 'CREATED', 2: 'STARTED', 3: 'ASKED_FOR_SHOW', 4: 'REVEALED', 5: 'WINNER_COMPUTED', 6: 'ALL_FOLDED_BUT_ONE', 7: 'PAID_OUT'},
      NOT_CREATED: 0,
      CREATED: 1,
      STARTED: 2,
      ASKED_FOR_SHOW: 3,
      REVEALED: 4,
      WINNER_COMPUTED: 5,
      ALL_FOLDED_BUT_ONE: 6,
      PAID_OUT: 7,
      snack: {
        display: false,
        duration: 4000,
        color: "info",
        text: "",
      },
      game:{
          
      },
      isGameOwner: false,
      nickname: '',
      currentAccount: '',
      registered: false,
      polling: null,
      joinedTheGame: false,
      displayRevealButton: false,
      yourHandTitle: '',
      otherHandTitle: '',
      players: [],
      foldedPlayers: []
    };
  },
  mounted: async function () {
    clearInterval(this.polling)
    this.cards = []
    this.revealedCards = []
    this.polling = null
    this.game.id = this.$route.query.gameid;
    this.game.dateNum = this.$route.query.datenum;
    this.game.creator = this.$route.query.creator;
    this.snack.display = false
    await window.ethereum.enable()
    window.ethereum.on('accountsChanged', (accounts) => {
      console.log(accounts)
      initialized = false;
      this.init();
    })
    
    window.ethereum.on('chainChanged', (networkId) => {
      console.log("network changed " + networkId)
      initialized = false;
      this.init();
    })
    this.init()
    
    this.polling = setInterval(() => {
          this.refresh()
    }, 2000)
  }, 
  destroyed: function(){
    clearInterval(this.polling)
    this.polling = null
  },
  methods: {
    async init(){
      this.gameUrl = 'whatsapp://send?text=' + window.location.href + '#/cards/game?creator=' + this.game.creator+ '&datenum='+this.game.dateNum+'&gameid=' + this.game.id;
      if (true != initialized){
        client = new CardsClient();
        const chainId = await client.init();
        if (chainId == util.chainId){
            this.currentAccount = await client.getCurrentAccount();
            
          await client.initContract()
          await this.getGameData()
          initialized = true;
        }
        else {
          util.handleError(this.snack, "Click on Blue button above to switch to correct provider")
        }
      }
    },
    isMobile() {
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return true
      } else {
        return false
      }
    },
    getGameUrl(){
      this.gameUrl = 'whatsapp://send?text=' + window.location.href + '#/cards/game?creator=' + this.game.creator+ '&datenum='+this.game.dateNum+'&gameid=' + this.game.id;
      return this.gameUrl;
    },
    async joinGame(){
      if (this.nickname == ''){
        util.handleError(this.snack, 'Pls enter a nickname')
      }
      else await client.joinGame(this.game.creator, this.game.dateNum, this.game.id, this.nickname, this.game.perRoundWager, this.nickname);
    },
    async getGameData(){
      if (this.game.state != this.WINNER_COMPUTED){
        let gameData = await client.retrieveGame(this.game.creator, this.game.dateNum, this.game.id, this.game);
        this.game = gameData;
        this.isGameOwner = this.currentAccount == this.game.creator;
      }
      if (this.game.winner.indexOf('0x00000') != 0){
        this.yourHandTitle = this.game.winner == this.currentAccount ? ' (W)' : ' (L)'
        this.otherHandTitle = this.game.winner == this.currentAccount ? ' (L)' : ' (W)'
      }
      else {
        this.yourHandTitle = ''
        this.otherHandTitle = ''
      }
      if (this.game.state == this.WINNER_COMPUTED || this.game.state == this.PAID_OUT)
      {
        clearInterval(this.polling)
        this.polling = null
      }
      
    },
    async alreadyJoined(){
      if (this.game.playerCount.toString() == 0) return false;
      let players = await client.getPlayers(this.game.identifier, this.game.playerCount);
      this.foldedPlayers = [];
      client.foldedPlayers(this.game.identifier, players, this.foldedPlayers)
      const existing = players.filter(p => p.account == this.currentAccount)
      if (existing.length > 0) return true
      return false
    },
    async alreadyRevealed(){
      if (this.game.playerCount.toString() == 0) return false;
      const players = await client.getPlayers(this.game.identifier, this.game.playerCount);
      const existing = players.filter(p => p.account == this.currentAccount)
      if (existing.length > 0){
         return existing[0].revealed
      }
      return false
    },
    async startGame(){
        if (this.currentAccount == this.game.creator){
            await client.startGame(this.game.dateNum, this.game.id);
        }
    },
    async computeWinner(){
      await client.computeWinner(this.game.creator, this.game.dateNum, this.game.id).catch(e => {
        if (e.data.message.indexOf("Both players need to reveal hands before winner can be computed") > -1){
          util.handleError(this.snack, "Both players need to reveal hands before winner can be computed")
        }
      })
    },
    async getRevealedCards(){
      if (this.revealedCards.length == 0)
      client.getRevealedCards(this.game.identifier, this.game.playerCount, this.revealedCards,);
    },
    async playTurn(){
      await client.playTurn(this.game.creator, this.game.dateNum, this.game.id, this.game.perRoundWager);
    },
    async fold(){
      await client.fold(this.game.creator, this.game.dateNum, this.game.id);
    },
    async payout(){
      await client.payout(this.game.creator, this.game.dateNum, this.game.id).catch(e => {
        if (e.data.message.indexOf("You already folded") > -1){
          util.handleError(this.snack, "You have already folded")
        }
        if (e.data.message.indexOf("Game not yet over") > -1){
          util.handleError(this.snack, "Game not yet over")
        }
        if (e.data.message.indexOf("Already claimed") > -1){
          util.handleError(this.snack, "Already claimed")
        }
      });
    },
    async refresh(){
      await this.getGameData()
      this.joinedTheGame = await this.alreadyJoined()
      if (this.game.state >= this.STARTED) await this.retrieveHand()
      if (this.game.state == this.ASKED_FOR_SHOW || this.game.state == this.REVEALED || this.game.state == this.PAID_OUT){
          await this.getRevealedCards()
          this.displayRevealButton = false;
          const alreadyShown = await this.alreadyRevealed()
          this.displayRevealButton = (!alreadyShown) && (this.game.nextTurn == this.currentAccount) && (this.game.state == this.ASKED_FOR_SHOW || this.game.state == this.REVEALED)
      }
      if (this.game.state >= this.STARTED && this.game.state != this.PAID_OUT){
        await client.foldedPlayers(this.game.identifier, this.players, this.foldedPlayers) 
      }
    },
    async register(){
      await client.register(this.nickname)
    },
    async askForShow(){
      client.askForShow(this.game.creator, this.game.dateNum, this.game.id, this.game.perRoundWager);
    },
    async revealHand(){
      client.revealHand(this.game.creator, this.game.dateNum, this.game.id);
    },
    async retrieveHand(){
        if (this.cards.length == 0)
        client.retrieveHand(this.game.creator, this.game.dateNum, this.game.id, this.cards);
    }
  },
    
};
</script>
