<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panel" multiple >
            <v-expansion-panel>
              <v-expansion-panel-header
                >Three Card Poker Game Rules
              </v-expansion-panel-header>
              <v-expansion-panel-content>
          <v-card-subtitle>Ranking Rules</v-card-subtitle>
          <v-list dense>
            <v-list-item-group color="primary">
              <v-list-item v-for="(item, i) in gameRules" :key="i">
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
          <v-card-subtitle>Dealing Rules</v-card-subtitle>
          <v-list dense>
            <v-list-item-group color="primary">
              <v-list-item v-for="(item, i) in dealingRules" :key="i">
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
          </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-show="false">
      <v-card-title>Rank Calculator</v-card-title>
      <v-col>
        <v-select
          v-model="c1r"
          :items="Object.values(ranks)"
          @change="createCards()"
        ></v-select>
      </v-col>
      <v-col>
        <v-select
          v-model="c1s"
          :items="Object.values(suits)"
          @change="createCards()"
        ></v-select>
      </v-col>
      <v-col>
        <v-select
          v-model="c2r"
          :items="Object.values(ranks)"
          @change="createCards()"
        ></v-select>
      </v-col>
      <v-col>
        <v-select
          v-model="c2s"
          :items="Object.values(suits)"
          @change="createCards()"
        ></v-select>
      </v-col>
      <v-col>
        <v-select
          v-model="c3r"
          :items="Object.values(ranks)"
          @change="createCards()"
        ></v-select>
      </v-col>
      <v-col>
        <v-select
          v-model="c3s"
          :items="Object.values(suits)"
          @change="createCards()"
        ></v-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <vue-playing-card width="110"
          v-for="card in leftDisplay"
          :key="card"
          :signature="card"
          mr-1
        ></vue-playing-card>
      </v-col>
      <v-col cols="6">
        <vue-playing-card width="110"
          v-for="card in rightDisplay"
          :key="card"
          :signature="card"
          mr-1
        ></vue-playing-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card-text>Select 6 cards, representing 2 hands with 3 cards each, and compare their ranks</v-card-text>
        <v-card-text>{{ rankString }}</v-card-text>
        <v-btn class="mr-2" color="primary" @click="computeRanks()">Compute Ranks</v-btn>
        &nbsp;&nbsp;<v-btn class="ml-2" color="primary" @click="clear()">Clear</v-btn>
        &nbsp; &nbsp; <a href="/rank.js">Ranking Algorithm</a>
      </v-col>
      <v-col></v-col>
    </v-row>
       <v-row>
          
        <div v-for="card in deck['c']" :key="card" @click="select(card)">
        <vue-playing-card width="110"
          :signature="card"
          mr-1
        ></vue-playing-card>
        </div>
      <div v-for="card in deck['h']" :key="card" @click="select(card)">
        <vue-playing-card width="110"
          :signature="card"
          mr-1
        ></vue-playing-card>
        </div>
        <div v-for="card in deck['d']" :key="card" @click="select(card)">
        <vue-playing-card width="110"
          :signature="card"
          mr-1
        ></vue-playing-card>
        </div>
        <div v-for="card in deck['s']" :key="card" @click="select(card)">
        <vue-playing-card width="110"
          :signature="card"
          mr-1
        ></vue-playing-card>
        </div>
         </v-row>
    <v-row>
      <v-col cols="6">
        <a href="/rank.js">Ranking Algorithm</a>
      </v-col>
    </v-row>
   
    <v-row> </v-row>
  </v-container>
</template>
<script>
import Vue from "vue";
import VuePlayingCard from "vue-playing-card";
import { CardsClient } from "../cardsclient";
import { suits } from "../cardsclient";
import { ranks } from "../cardsclient";
import util from "../util";

Vue.use(VuePlayingCard);
let initialized = false;
let client;

export default {
  data: function () {
    return {
      panel: [],
      calculatorPanel: [],
      leftDisplay: [-1, -1, -1],
      rightDisplay: [-1, -1, -1],
      cards: [],
      deck: {'c': [], 's': [], 'h': [], 'd': []},
      rankString: '',
      suits,
      ranks,
      c1s: "",
      c2s: "",
      c3s: "",
      c1r: "",
      c2r: "",
      c3r: "",
      gameRules: [
          { text: "At its heart, the game is about ranking of each player's hand. One hand is 3 cards"},
          { text: "Each Card has a Suit - Hearts, Spades, Diamonds, Clubs, and Rank - 1 through 13."},
          { text: "Numbers 2 through 10 have rank of their number. J, Q, K are respectively 11, 12, 13. Ace is highest rank (consider 14)"},
          { text: "Descending order of Ranking - Trail or Flush (same rank on 3 cards), Sequence in same Suit, Sequence in different Suits, all cards in Same Suit, Pair - 2 cards with same rank, Highest Rank Card"},
          {text : "Special case involving Aces. Descending rank is AKQ, A23, KQJ, QJ10...234 then rest"},
          { text: "Use this page to compute the rank of any arbitrary hand. The algo used on the blockchain is available (as javascript module) in the link below for download"},
      ],
      dealingRules: [
        {text: "Each game has a per round value, set by the Creator of the game"},
        {text: "While joining the game, 2 X PerRound is deposited. IF the Player Folds, he gets back 1 X PerRound"},
        {text: "Subsequent rounds the amount is alway PerRound. Asking for Show, the amouont is 2 X PerRound"},
        {text: "Why 2 X PerRound for joining. 1 X PerRound is like security no-show, no-play deposit. E.g. if a player refuses to play his chance, or refuses to show his hand, when asked."},
        {text: "Commission : Creator sets a commision. This is to incentivise game creators. Creator gets 10X commission that system gets. So, if Creator commission is 1%, system commission is 0.1%. Winner pays 1.1%"},
        {text: "What is Gas Cost : Operations on blockchain have a small gas cost (like 0.0002 USD). This is the transaction cost of running any application on the blockchain"},

      ]

    };
  },
  mounted: async function () {
    this.init();
  },
  methods: {
    async init() {
      if (true != initialized) {
        client = new CardsClient();
        const chainId = await client.init();
        if (chainId == util.chainId) {
          await client.initContract();
          initialized = true;
        } else {
          util.handleError(
            this.snack,
            "Click on Blue button above to switch to correct provider"
          );
        }
        for (const s of Object.values(suits)){
          for (const r of Object.values(ranks))
            this.deck[s].push(r + s);
        }
        console.log(this.deck)
      }
    },
    cardsComputed() {
      const display = [];
      for (let c = 0; c < this.cards.length; c++) {
        display.push(ranks[this.cards[c].rank] + suits[this.cards[c].suit]);
      }
      return display;
    },
    clear(){
      for(let i=0; i<3; i++){
        Vue.set(this.leftDisplay, i, -1)
        Vue.set(this.rightDisplay, i, -1)
        this.rankString = ''
      }
    },
    select(card){
      if(this.leftDisplay.indexOf(card) > -1 || this.rightDisplay.indexOf(card) > -1) return;
      let lIndex = this.leftDisplay.indexOf(-1)
      if (lIndex > -1){
        if (this.leftDisplay.indexOf(card) == -1)
        Vue.set(this.leftDisplay, lIndex, card)
      } 
      else {
        let rIndex = this.rightDisplay.indexOf(-1)
        if (this.rightDisplay.indexOf(card) == -1)
        if (rIndex > -1) Vue.set(this.rightDisplay, rIndex, card)
      }
    },
    isDup(s, r) {
      const res = this.cards.filter((c) => c.suit == s && c.rank == r);
      console.log("isDup " + s + "," + r);
      console.log(res.length);
      if (res.length > 0) return true;
      else return false;
    },
    createCards() {
      if (this.c1s != "" && this.c1r != "") {
        let c1suit = Object.values(this.suits).indexOf(this.c1s);
        let c1rank = Object.values(this.ranks).indexOf(this.c1r);
        if (!this.isDup(c1suit + 1, c1rank + 1))
          this.cards[0] = { rank: c1rank + 1, suit: c1suit + 1 };
      }
      if (this.c2s != "" && this.c2r != "") {
        let c2suit = Object.values(this.suits).indexOf(this.c2s);
        let c2rank = Object.values(this.ranks).indexOf(this.c2r);
        if (!this.isDup(c2suit + 1, c2rank + 1))
          this.cards[1] = { rank: c2rank + 1, suit: c2suit + 1 };
      }
      if (this.c3s != "" && this.c3r != "") {
        let c3suit = Object.values(this.suits).indexOf(this.c3s);
        let c3rank = Object.values(this.ranks).indexOf(this.c3r);
        if (!this.isDup(c3suit + 1, c3rank + 1))
          this.cards[2] = { rank: c3rank + 1, suit: c3suit + 1 };
      }
    },
    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    async computeRanks(){
      const leftRank = await this.computeRank(this.leftDisplay)
      const rightRank = await this.computeRank(this.rightDisplay)
      this.rankString = "Left Rank: " + this.numberWithCommas(leftRank) + ". Right Rank: " + this.numberWithCommas(rightRank) + '.'
      if (leftRank*1 == rightRank*1) this.rankString += " There's a Tie. Player asking for Show, will lose." 
      else
      leftRank*1 > rightRank*1 ? this.rankString += " Winner will be Left Hand." : this.rankString += " Winner will be Right Hand"
    },
    async computeRank(arr) {
      console.log(arr)
      let argsArr = [];
      if (arr.length == 3) {
        for (let c = 0; c < arr.length; c++) {
          const rank = arr[c].substring(0, 1)
          const suit = arr[c].substring(1)
          argsArr.push(Object.values(ranks).indexOf(rank)+1);
          argsArr.push(Object.values(suits).indexOf(suit)+1);
        }
      }
      console.log(argsArr)
      return await client.computeRank(...argsArr);
    },
  },
};
</script>