<template>
  <v-container fluid>
    <v-row>
            <v-alert type="error">This App needs Metamask Chrome plugin. Read MoneyFAQs section below for more details. After installing, click blue button above to add Fantom Network to your metamask, and get started !!</v-alert>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panel" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Blockchain Games
              </v-expansion-panel-header>
              <v-expansion-panel-content>
          <v-list dense>
      <v-list-item-group
        color="primary"
      >
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        two-line>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
              <v-list-item-subtitle v-text="item.subtext"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
        <router-link to="/moneyfaq">Money FAQs</router-link>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
      </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col >
        <v-card class="mx-auto" max-width="344">
          <v-img src="/financial.jpeg" height="200px"></v-img>
          <v-card-title> Financial Markets </v-card-title>
          <v-card-subtitle>
            Stocks, Commodities, Forex, Crypto
          </v-card-subtitle>
          <v-card-actions>
            <v-btn color="orange lighten-2" text @click="go('/finance')">
              Enter
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon @click="showFinance = !showFinance">
              <v-icon>{{
                showFinance ? "fas fa-chevron-circle-up" : "fas fa-chevron-circle-down"
              }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="showFinance">
              <v-divider></v-divider>

              <v-card-text> Play the Odds on Financial events. </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img src="/sport.jpeg" height="200px"></v-img>
          <v-card-title> Sports </v-card-title>
          <v-card-subtitle>
            Football, Cricket, Olympics, Formula-1
          </v-card-subtitle>
          <v-card-actions>
            <v-btn color="orange lighten-2" text @click="go('/sports')">
              Enter
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon @click="showSport = !showSport">
              <v-icon>{{
                showSport ? "fas fa-chevron-circle-up" : "fas fa-chevron-circle-down"
              }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="showSport">
              <v-divider></v-divider>

              <v-card-text> Play the Odds on Public Sporting events. </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img src="/liquidity.jpeg" height="200px"></v-img>
          <v-card-title> Liquidity </v-card-title>
          <v-card-subtitle>
            Add assets to Liquidity Pools and earn income
          </v-card-subtitle>
          <v-card-actions>
            <v-btn color="orange lighten-2" text>
              Enter
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon @click="showLiquidity = !showLiquidity">
              <v-icon>{{
                showLiquidity ? "fas fa-chevron-circle-up" : "fas fa-chevron-circle-down"
              }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="showLiquidity">
              <v-divider></v-divider>

              <v-card-text> Play the Odds on Public Sporting events. </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img src="/politics.jpeg" height="200px"></v-img>
          <v-card-title> Binary Options </v-card-title>
          <v-card-subtitle>
            Pure Binaries
          </v-card-subtitle>
          <v-card-actions>
            <v-btn color="orange lighten-2" text @click="go('/binary')">
              Enter
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon @click="showPolitics = !showPolitics">
              <v-icon>{{
                showPolitics ? "fas fa-chevron-circle-up" : "fas fa-chevron-circle-down"
              }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="showPolitics">
              <v-divider></v-divider>

              <v-card-text>Are you the Political Pundit ?</v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img src="/private_pools.jpeg" height="200px"></v-img>
          <v-card-title> Private Pools </v-card-title>
          <v-card-subtitle>
            Chill out with Friendly Groups.
          </v-card-subtitle>
          <v-card-actions>
            <v-btn color="orange lighten-2" text @click="go('/private')">
              Enter
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon @click="showPrivatePool = !showPrivatePool">
              <v-icon>{{
                showPrivatePool ? "fas fa-chevron-circle-up" : "fas fa-chevron-circle-down"
              }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="showPrivatePool">
              <v-divider></v-divider>

              <v-card-text>Are you the Political Pundit ?</v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
      <!-- <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img src="/cards.jpeg" height="200px"></v-img>
          <v-card-title>Card Games</v-card-title>
          <v-card-subtitle>
            Play with peers anonymously, without intermediaries, on the BlockChain
          </v-card-subtitle>
          <v-card-actions>
            <v-btn color="orange lighten-2" text @click="go('/cards')">
              Enter
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon @click="showCards = !showCards">
              <v-icon>{{
                showCards ? "fas fa-chevron-circle-up" : "fas fa-chevron-circle-down"
              }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="showCards">
              <v-divider></v-divider>

              <v-card-text>Are you the Political Pundit ?</v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col> -->
    </v-row>
    <v-snackbar v-model="snack.display" :timeout="snack.duration" :color="snack.color">
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar> 
  </v-container>
</template>
<script>
export default {
 
  data: () => ({
    panel: [0],
    showFinance: false,
    showSport: false,
    showPolitics: false,
    showPrivatePool: false,
    showLiquidity: false,
    showCards: false,
    items: [
        { text: 'Decentralized', subtext: 'Always ON, without any intermediaries',icon: 'fas fa-home' },
        { text: 'Market Place', subtext: 'Create your own games' },
        { text: 'Range of Options', subtext: 'Anything that has programmable logic and publically available data/apis. Skills 11.' },
        { text: 'Instantaneous', subtext: 'Deposit/Withdrawal/Settlements all online and instantaneous' },
        { text: 'Anonymity', subtext: 'No login or registrations or Bank Debit/Credit cards. Truly cross borders' },
        { text: 'Security', subtext: 'Guaranteed by the Blockchain and Smart Contracts. No human intervention' },
      ],
      snack: {
        display: false,
        duration: 8000,
        color: "info",
        text: "",
      },
  }),
  methods: {
    go: function (path) {
      this.$router.push(path);
    },
    metamaskFound: function(){
      if (window.ethereum) return true; else false
    }
  },
};
</script>