<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-text-field label="Option Creator" v-model="accountSelected"></v-text-field>
        <v-btn color="primary" @click="fetch()">Search</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card elevation="2">
          <v-expansion-panels v-model="panel" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >{{createOptionsText}}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="mx-1">
                  <v-col>
                    <v-select v-if="this.optionType === 'finance'"
                      label="Instrument"
                      v-model="instrumentSelected"
                      :items="instruments.map((instr) => instr.symbol)"
                      >Instrument</v-select
                    >
                    <v-text-field v-if="this.optionType !== 'finance'"
                      label="Event Condition"
                      v-model="instrumentSelected"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-datetime-picker label="Expiry Datetime" no-title v-model="datetime"> </v-datetime-picker>
                  </v-col>
                  <v-col>
                    <v-text-field label="Lock Minutes Before Expiry" v-model="lockingMinutes" type="number"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Commission" v-model="creatorCommission" type="number"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn
                      @click="
                        addFinancialOption(
                          instrumentSelected
                        )
                      "
                      >Create</v-btn
                    >
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-data-table
        caption="Options"
          class="mt-4 entriesTable elevation-2"
          dense
          :headers="showOptionHeaders"
          :items="binaryOptions"
          item-key="optionCode"
          :hide-default-footer="hideDefaultFooter"
          :footer-props="footerProps"
          :items-per-page="100"
          :server-items-length="rowCount"
          :loading="loadingStatus"
          loading-text="Loading... Please wait"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td nowrap="true">{{ item.condition }}</td>
              <td nowrap="true">{{ item.formattedExpiry }}</td>
              <td nowrap="true">{{ item.formattedLocking }}</td>
              <!--<td nowrap="true">
                <v-text-field v-model="item.amountToBuy" :disabled="item.resolved"></v-text-field>
              </td> -->
              <td>
                  <v-btn outlined @click="$router.push({'name': 'option', query: {optionid: item.identifier.toString(), creator: accountSelected}})" color="orange">View</v-btn>
              </td>
              <td nowrap="true" v-if="!item.resolved">
                <!--<v-btn outlined  color=green @click="buyOption(item.identifier, 1, item.amountToBuy)" :disabled="item.resolved">YES</v-btn> &nbsp;
                <v-btn outlined  color=red @click="buyOption(item.identifier, 2, item.amountToBuy)">NO</v-btn>&nbsp; -->
                <v-btn outlined  v-show="item.isOwner" @click="resolve(item.identifier, 1)" color="primary">Resolve Yes</v-btn>&nbsp;
                <v-btn outlined  v-show="item.isOwner" @click="resolve(item.identifier, 2)" color="primary">Resolve No</v-btn>&nbsp;
              </td>
              
              <!-- <td v-if="item.resolved">
                <v-card-title>Resolved</v-card-title>
              </td> -->
              <td nowrap="true">{{ item.totalAyes }}</td>
              <td nowrap="true">{{ item.totalNoos }}</td>
              
            </tr>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-snackbar v-model="snack.display" :timeout="snack.duration" :color="snack.color">
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar> 
    <v-dialog v-model="dialog">
   <v-card>
    <v-card-title
      class="headline grey lighten-2"
      primary-title
    >
      Transfer
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6" class="ml-2">
            <v-text-field
              ref="address"
              v-model="transferAddress"
              placeholder="Enter address of recepient..."
              type="text"
              solo
              flat
              outlined
            ></v-text-field>
            <v-text-field
              v-model="transferUnits"
              placeholder="Enter units to transfer..."
              type="text"
              solo
              flat
              outlined
            ></v-text-field>
           <v-btn primary @click="executeTransfer()">Send Transfer</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
   </v-card>
  </v-dialog>
  </v-container>
</template>
<script>
import { EthersClient } from "../ethersclient";
import util from '../util'
let initialized = false;
let client;
export default {
  props:{
    optionType: {required: true}
  },
  activated: async function(){
    this.snack.display = false
  },
  computed: {
    showOptionHeaders () {
      let headers = this.commonOptionHeaders;
      
      return headers;
    },
    createOptionsText(){
      return "Create " + this.optionType.toUpperCase() + " Options"
    }
  },
  mounted: async function () {
    this.snack.display = false
    await window.ethereum.enable()
    window.ethereum.on('accountsChanged', () => {
      initialized = false;
      this.init();
    })
    
    window.ethereum.on('chainChanged', () => {
      initialized = false;
      this.init();
    })
    this.init()
    this.polling = setInterval(() => {
      this.fetch()
    }, 5000)
  },
  destroyed: function(){
    clearInterval(this.polling)
    this.polling = null
  },
  data: function () {
    return {
      polling: null,
      dialog: false,
      shareDialog: false,
      transferContract: '',
      transferUnits: '',
      transferAddress: '',
      optionsMap: {},
      binaryOptions: [],
      commonOptionHeaders: [
        //{ text: "Odds", value: "", sortable: false },
        //{ text: "Units Available", value: "", sortable: false },
        {text: "Event", value: "condition", sortable: false},
        { text: "Expiry", value: "expiry", sortable: false },
        { text: "Locking", value: "lockingTime", sortable: false },
        //{ text: "Amount", value: "", sortable: false },
        //{ text: "Predict", value: "actions", sortable: false },
        { text: "Action", value: "open", sortable: false },
        { text: "Yes", value: "yesBalance", sortable: false },
        { text: "No", value: "noBalance", sortable: false },
      ],
      oddsRule: [
        (v) =>
          (!isNaN(parseFloat(v)) && v > 0 && v <= 5000) ||
          "Number has to be between 0 and 999",
      ],
      unitsRule: [
        (v) =>
          (!isNaN(parseFloat(v)) && v > 0) || "Units has to be greater than 0",
      ],
      loadingStatus: true,
      hideDefaultFooter: false,
      footerProps: {
        "items-per-page-options": [15, 50, 100],
      },
      panel: [0],
      rowCount: 100,
      snack: {
        display: false,
        duration: 4000,
        color: "info",
        text: "",
      },
      instruments: [
        { symbol: "Nasdaq-100", strikePrice: "", expiryBlock: "" },
        { symbol: "DJIA", strikePrice: "", expiryBlock: "" },
        { symbol: "NSE-Nifty", strikePrice: "", expiryBlock: "" },
        { symbol: "BSE-Sensex", strikePrice: "", expiryBlock: "" },
      ],
      instrumentSelected: "",
      strikePrice: "",
      odds: "",
      sellerUnits: "",
      //amountToBuy: "",
      instrumentSelectedExpiry: "",
      operatorArray: [
        { text: ">=", value: "0" },
        { text: "<=", value: "1" },
      ],
      yesNoOperators: [
        { text: "Yes", value: "5" },
        { text: "No", value: "6" },
      ],
      yesNoResults: [
        { text: "Yes", value: "1" },
        { text: "No", value: "2" },
      ],
      operatorSelected: "",
      resultSelected: "",
      menuExpiryDate: false,
      expiryDate: new Date().toISOString().substr(0, 10),
      datetime: "",
      lockingMinutes: "",
      creatorCommission: "",
      accountSelected : ""
    };
  },
  methods: {
    async init(){
      this.optionsMap = {};
      if (true != initialized){
        client = new EthersClient();
        const chainId = await client.init();
        if (chainId == util.chainId){
          await client.initContract()
          this.accountSelected = await client.getCurrentAccount();
          await this.getBinaryOptions(this.accountSelected, this.optionType);
          initialized = true;
        }
        else {
          util.handleError(this.snack, "Click on Blue button above to switch to correct provider")
        }
      }
      this.loadingStatus = false;
    },
    /*async buyOption(identifier, direction, amountToBuy){
      if (!amountToBuy || amountToBuy <= 0) {
        util.handleError(this.snack, "Enter valid amount");
        return;
      }
      await client.buyOption(this.accountSelected, identifier, direction, amountToBuy).catch(e => {
        if(e.data.message.indexOf("Locked. No more predictions allowed") > 0)
        util.handleError(this.snack, "Locked. No more predictions allowed")
      });
    },*/
    async fetch(){
        await this.getBinaryOptions(this.accountSelected, this.optionType);
    },
    async getBinaryOptions(account, optionType) {
      await client.getOptions(account, optionType, this.optionsMap);
      this.binaryOptions = Object.values(this.optionsMap);
      this.loadingStatus = false;
    },
    async addFinancialOption(instrumentSelected) {  
      const expiryDateTimeSeconds = this.datetime.getTime()/1000
      if (this.lockingMinutes*1 < 2){
        util.handleError(this.snack, "Locking has to be minimum 2 minutes before expiry")
        return;
      }
      if (this.creatorCommission*1 > 10){
        util.handleError(this.snack, "Max commission is 10 percent")
        return;
      }
      const lockingTime = expiryDateTimeSeconds - this.lockingMinutes * 60;
      
      client.createBinaryOption(this.accountSelected, this.optionType, instrumentSelected, lockingTime, expiryDateTimeSeconds, this.creatorCommission*100);
    },
    async redeem(optionId){
      await client.redeem(this.accountSelected, optionId).catch(e => {
        if(e.data.message.indexOf("not yet resolved") > 0)
        util.handleError(this.snack, "Not yet resolved")
      })
    },
    async openTransferDialog(contractAddr){
      this.openDialog();
      this.transferContract = contractAddr;
    },
    async executeTransfer(){
      this.dialog = !this.dialog 
      await client.transfer(this.transferContract, this.transferAddress, this.transferUnits)
    },
    async addToLiquidityPool(contractAddr){
      util.handleInfo(this.snack, 'TBD ' + contractAddr)
    },
    setFocusAddress() {
      this.$refs.address.focus();
    },
    async openDialog() {
      this.dialog = !this.dialog  
      setTimeout(() => {this.setFocusAddress()}, 200)
    },
    async resolve(id, direction){
      await client.setOptionResult(this.accountSelected, id, direction).catch(e => {
        if(e.data.message.indexOf("Not yet expired") > 0)
        util.handleError(this.snack, "Not yet expired")
      });
    }
    

  },
};
</script>
<style>
.wrapper{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top:10px;
}
.btn-copy{
  background-color: #38AFDD;
  border: transparent;
  border-bottom: 2px solid #0086B7;
  border-radius: 2px;
  padding: 10px;
  min-width: 100px;
  color: #fff;
}
.btn-copy:hover, .btn-copy:focus{
  background-color: #48A1C1;
  border-bottom: 2px solid #38AFDD;
  /*transition cross browser*/
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition:all .3s ease-in;
  -o-transition: all .3s ease-in;
}
</style>
        
  