<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panel" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header>Money Matters</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-list dense>
                <v-list-item-group color="primary">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        one-line>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
              <v-list-item-subtitle v-text="item.subtext"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
      </v-card>
      </v-col>
    </v-row>
    </v-container>
</template>
<script>
export default {
  data: () => ({
    panel: [0],
    items: [
        { text: 'Metamask is a Chrome plugin, that needs to be installed to operate financially on these games.'},
        {text: 'On computer, install from Chrome app store. On Mobile, install Metamask from PlayStore and use its browser.'},
        { text: 'On Mobile, use Metamask app from PlayStore, and use its browser. Metamask plugin/extension may not be available on mobile browsers.'},
        { text: 'Metamask is a universal wallet for multiple blockchains.'},
        { text: 'Assume each blockchain to be a different bank, operating in different currency. Metamask plugin is the wallet that lets you operate each of those bank accounts.'},
        { text: 'You can have multiple accounts on any chain. And, same account number can work across all chains (just the balanes will be different). Its a number like 0x89205A3A3b2A69De6Dbf7f01ED13B2108B2c43e7'},
        { text: 'Some popular chains are Ethereum, Binance Smart Chain, Fantom, Polygon. This platform is primarily hosted on Fantom Network, one of the fastest and cheapest.'},
        { text: 'Metamask password is your singular key to every lock. If you forget/lose it, then nobody can recover for you.'},
        { text: 'Read more about Metamask at https://metamask.io/'},
        { text: 'There are no deposits or withdrawals or lock-ins involving Debit/Credit cards, or payment gateways.'},
        { text: 'You have to confirm every transaction, e.g. when playing a round. This ensures security of your funds, because no one other than you can operate your funds.'},
     ],
  }),
  methods: {
    go: function (path) {
      this.$router.push(path);
    },
  },
};
</script>