<template>
  <v-container fluid>
      <v-row>
          <v-col cols="12">
              <v-card elevation="2">
          <v-card-title>Creator: {{optionCreator}}</v-card-title>
          <v-card-title>Condition: {{Option.condition}}</v-card-title>  
        </v-card>
          </v-col>
      </v-row>
      <v-row>
        <v-col  cols="6">
          <v-text-field v-model="predictAmt" label="Enter Amount"></v-text-field>
        </v-col>
      </v-row>
    <v-row>
      <v-col cols="3">
        <v-btn elevation="2" color="green lighten-1" @click="predict(1)" :disabled="isLocked">
          YES ({{Option.totalAyes}})
        </v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn color="orange lighten-1" @click="predict(2)" :disabled="isLocked">
          NO ({{Option.totalNoos}})
        </v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn elevation="2" color="primary" @click="redeem()" :disabled="Option.outcome == 0">
          CLAIM
        </v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn elevation="2" color="primary" @click="fetch()">
          REFRESH
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-card-title v-if="!isLocked">Time To Lock: </v-card-title>
    <flip-countdown :deadline="formattedLocking" v-if="!isLocked"></flip-countdown>
    <v-card-title>{{isLocked ? 'Locked':''}}</v-card-title>
     <v-card-title v-if="isLocked">Time To Expire: </v-card-title>
    <flip-countdown :deadline="formattedExpiry" v-if="isLocked"></flip-countdown> 
    </v-row> 
     <v-snackbar v-model="snack.display" :timeout="snack.duration" :color="snack.color">
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar> 
  </v-container>
  
</template>
<script>
import { EthersClient } from "../ethersclient";
import util from "../util";
import FlipCountdown from './Countdown.vue'
let initialized = false;
let client;
export default {
  components: {FlipCountdown},
  mounted: async function(){
      this.optionId = this.$route.query.optionid
      this.optionCreator = this.$route.query.creator;
      this.Option = {};
      this.snack.display = false
      if (true != initialized){
        client = new EthersClient();
        await client.init();
        initialized = true;
      }
      this.init();
  },
  data: function(){
      return {
          optionId: '',
          Option: {},
          snack: {
            display: false,
            duration: 4000,
            color: "info",
            text: "",
          },
          formattedLocking: '2022-07-04 06:00 PM',
          formattedExpiry: '2022-07-04 06:00 PM',
          isLocked: false,
          optionCreator: '',
          predictAmt: '',
          polling: null
      }
  },
  methods: {
    predict: async function(direction){
      if (this.predictAmt == '') util.handleError(this.snack, 'Invalid amount');
      else await client.buyOption(this.optionCreator, this.Option.identifier, direction, this.predictAmt)
    },
    redeem: async function(){
        await client.redeem(this.optionCreator, this.Option.identifier).catch(e => {
          if (e.data.message.indexOf("not yet resolved")){
            util.handleError(this.snack, "Not yet resolved")
          }
        });
    },
    fetch: async function(){
      this.Option = await client.getOption(this.optionCreator, this.optionId)
    },
    init: async function(){
      await this.fetch()
      this.formattedLocking = this.Option.formattedLocking
      this.formattedExpiry = this.Option.formattedExpiry
      if (this.Option.lockingTime < new Date().getTime()/1000) this.isLocked = true;
      
    }
  }
}
</script>