<template>
  <v-container fluid>
      <v-row>
          <v-btn @click="fetch()">REFRESH</v-btn>
      </v-row>
    <v-row>
      <v-col>
          <v-card>
                  <v-card-title>{{predictionEvent.statement}} : YES (Price: {{yPrice}}, Market: {{yTokenSize}})</v-card-title>
                  <v-text-field label="Number of YES Coins e.g. 0.001" v-model="numCoinsYes"></v-text-field>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="buy(OUTCOME_YES)" color="primary">BUY YES</v-btn>
                    <v-btn @click="sell(OUTCOME_YES)" color="primary">SELL YES</v-btn>
                  </v-card-actions>
            </v-card>
      </v-col>
      <v-col>
          <v-card>
                  <v-card-title>{{predictionEvent.statement}} : NO (Price: {{nPrice}}, Market: {{nTokenSize}})</v-card-title>
                  <v-text-field label="Number of NO Coins e.g. 0.02" v-model="numCoinsNo"></v-text-field>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="buy(OUTCOME_NO)" color="primary">BUY NO</v-btn>
                    <v-btn @click="sell(OUTCOME_NO)" color="primary">SELL NO</v-btn>
                  </v-card-actions>
            </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { OddsClient } from "../oddsClient";
import BigNumber from 'bignumber.js';
import util from '../util';

let initialized = false;

export default {
  name: "PredictionGame",
  mounted: async function () {
    this.eventKeySearch = this.$route.params.eventKeySearch;
    if (true == initialized) return;
    this.client = new OddsClient();
    await this.client.init();
    initialized = true;
    await this.fetch();
    console.log(this.predictionEvent)
  },
  data: function () {
    return {
      BUY : 0,
      SELL : 1,
      OUTCOME_YES : 1,
      OUTCOME_NO : 2,
      outcomes: {0: 'NONE', 1: 'YES', 2: 'NO'},
      startTime: "",
      eventKeySearch: "",
      predictionEvent: {},
      numCoinsYes: '',
      numCoinsNo: '',
      yTokens: '',
      nTokens: '',
      yTokenSize: '',
      nTokenSize: '',
      yPrice: '',
      nPrice: '',
      buyOrSell: '',
      transactYesOrNo: '',
      transactUnits: ''
    };
  },
  methods: {
    fetch: async function () {
      this.kvTable = [];
      if (!this.eventKeySearch) return;
      this.predictionEvent = await this.client.contract.tradableEvents(this.eventKeySearch);
      const market = await this.client.contract.market(this.eventKeySearch);
      this.yTokens = market.yesPool;
      this.nTokens = market.noPool;
      const yPrice = this.nTokens*1/(this.yTokens*1 + this.nTokens*1);
      const nPrice = this.yTokens*1/(this.yTokens*1 + this.nTokens*1);
      this.yPrice = yPrice.toFixed(2);
      this.nPrice = nPrice.toFixed(2);
      this.yTokenSize = (this.yTokens/1e18).toFixed(5);
      this.nTokenSize = (this.nTokens/1e18).toFixed(5);
    },
    buy: async function(side){
        this.buyOrSell = this.BUY;
        this.buySellWorstPrice = 0.999999999;
        if (side == this.OUTCOME_YES) {
            console.log('buy ' + this.numCoinsYes + ' of ' + side);
            this.transactYesOrNo = this.OUTCOME_YES;
            this.transactUnits = this.numCoinsYes;
        }
        else {
            this.transactYesOrNo = this.OUTCOME_NO;
            this.transactUnits = this.numCoinsNo;
            console.log('buy ' + this.numCoinsNo + ' of ' + side);
        }
        this.purchaseYesNo();
    },
    sell: async function(side){
        this.buyOrSell = this.SELL;
        this.buySellWorstPrice = 0.0000001;
        if (side == this.OUTCOME_YES) {
            this.transactYesOrNo = this.OUTCOME_YES;
            console.log('sell ' + this.numCoinsYes + ' of ' + side);
            this.transactUnits = this.numCoinsYes;
        }
        else {
            this.transactYesOrNo = this.OUTCOME_NO;
            this.transactUnits = this.numCoinsNo;
            console.log('sell ' + this.numCoinsNo + ' of ' + side);
        }
        this.purchaseYesNo();
    },
    purchaseYesNo: async function(){
        const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
        const sign = this.buyOrSell == this.BUY ? +1 : -1;
        const transactUnits = new BigNumber(1e18).multipliedBy(this.transactUnits).multipliedBy(sign).toString();
        const worstPrice = new BigNumber(1e18).multipliedBy(this.buySellWorstPrice).toString();
        if (this.buyOrSell == this.BUY){
            await withSigner.transact(this.eventKeySearch, this.transactYesOrNo, transactUnits, worstPrice, {value: worstPrice}).catch(e => {
            console.log(e)
            util.handleError(this.snack, e.data.message)
            }) ;
            setTimeout(() => {this.fetch()}, 5000);
        }
        else {
          await withSigner.transact(this.eventKeySearch, this.transactYesOrNo, transactUnits, worstPrice).catch(e => {
            console.log(e)
            util.handleError(this.snack, e.data.message)
            }) ;
            setTimeout(() => {this.fetch()}, 5000);
        }
    }
  },
};
</script>