<template>
<v-container fluid>
    
    <v-row>
      <v-col>
        <v-text-field
            v-model="eventKeySearch"
            label="Event ID"
          ></v-text-field>
        
      </v-col>
      
    </v-row>
    <v-row>
      <v-col>
        <v-btn color="primary" @click="fetch()">Search</v-btn>
      </v-col>
      <v-col><a :href="gameUrl">Launch Game</a></v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panel" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Create New Event
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="mx-1">
                  <v-col>
                    <v-text-field label="Event Key" no-title v-model="eventKey"> </v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Event End" no-title v-model="eventEndTime"> </v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Event Name" v-model="eventName"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Event Description" v-model="eventStatement"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Expiry In Minutes" v-model="expiryMinutes" type="number"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Commission (Percentage)" v-model="creatorCommission" type="number"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Yes Probablity (in %)" v-model="yesProbability" type="number"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Collateral" v-model="collateral" type="number"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn @click="createEvent()" color="primary">Create Binary Event</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelBuySell" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Buy/Sell YES/NO Tokens
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="mx-1">
                  <v-col>
                    <v-text-field label="Event ID" v-model="buySellEventKey"></v-text-field>
                  </v-col>
                  <v-col>
                      <v-select label="Yes/No" v-model="tokenYN" :items="[{text: 'Yes', value: OUTCOME_YES}, {text: 'N0', value: OUTCOME_NO}]">YES/NO Token</v-select>
                  </v-col>
                  <v-col>
                      <v-select label="Buy/Sell" v-model="buyOrSell" :items="[{text: 'Buy', value: BUY}, {text: 'Sell', value: SELL}]">BUY/SELL</v-select>
                  </v-col>
                  <v-col>
                    <v-text-field label="Units (1 unit = 1 GWei)" v-model="buySellAmt" type="number"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Worst Price" v-model="buySellWorstPrice" type="number"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn @click="purchaseYesNo()" color="primary">Send Transaction</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelResolve" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Resolve Event
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="mx-1">
                  <v-col>
                    <v-text-field label="Event ID" v-model="eventIDResolve"></v-text-field>
                  </v-col>
                  <v-col>
                      <v-select label="Yes/No" v-model="resolveYN" :items="[{text: 'Yes', value: OUTCOME_YES}, {text: 'N0', value: OUTCOME_NO}]">Resolve YES/NO</v-select>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn @click="suggestOutcome()" color="primary">Suggest Outcome</v-btn>
                  </v-col>
                  <v-col>
                    <v-btn @click="resolve()" color="primary">Resolve</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelDeposit" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Deposit
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col>
                    <v-btn @click="deposit()" color="primary">Deposit</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelRedeem" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Transfer
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col>
                    <v-text-field label="Address" v-model="transferAddress"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-btn @click="transfer()" color="primary">Transfer</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-expansion-panels v-model="panelWithdraw" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header
                >Withdraw
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col>
                    <v-btn @click="withdraw()" color="primary">Withdraw</v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
        <v-col cols="12">
      <v-data-table dense class="mt-4 entriesTable elevation-2"
      :items="kvTable" :headers="kvTableHeaders" caption="Contract State"
      :items-per-page="100"
      :server-items-length="rowCount"
      >
      </v-data-table>
        </v-col>
    </v-row>
    <v-snackbar v-model="snack.display" :timeout="snack.duration" :color="snack.color">
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar> 
  </v-container>
</template>

<script>
const ethers = require('ethers');
import {OddsClient } from '../oddsClient'
import BigNumber from 'bignumber.js'
import util from '../util'
let initialized = false

export default {
  name: 'TradableOptions',
  props: {
    msg: String
  },
  mounted: async function(){
    if (true == initialized) return
    this.client = new OddsClient()
    await this.client.init()
    initialized = true
    //await this.fetch()
  },
  data: function () {
    return {
      BUY : 0,
      SELL : 1,
      OUTCOME_NONE : 0,
      OUTCOME_YES : 1,
      OUTCOME_NO : 2,
      outcomes: {0: 'NONE', 1: 'YES', 2: 'NO'},
      client: '',
      accountSelected: '',
      dateNum: '',
      datetime: '',
      menu: false,
      eventKeySearch: '',
      eventName: '',
      eventStatement: '',
      eventKey: (new Date().getTime()/1000).toFixed(0),
      eventEndTime: (new Date().getTime()/1000).toFixed(0)*1 + 10,
      eventNamePool: '',
      eventStartTimeBuySell: '',
      eventStartTimePool: '',
      tokensToMint: '',
      yesProbability: '',
      collateral: '',
      tokenYN: '',
      eventIDResolve: '',
      resolveYN: '',
      eventStartTimeRedeem: '',
      eventNameRedeem: '',
      buyOrSell: '',
      buySellAmt: 1,
      buySellEventKey: '',
      buySellWorstPrice: '',
      cardWidth: 180,
      games: [],
      event: {},
      yPot: 0,
      nPot: 0,
      closedGames: [],
      expiryMinutes: 60,
      loadingStatus: true,
      hideDefaultFooter: false,
      footerProps: {
        "items-per-page-options": [15, 50, 100],
      },
      gameHeaders: [{text: 'Per Round', value: 'perRoundWager', sortable: false}, 
      {text: 'Commission', value: 'commissionDisplay', sortable: false}, {text: "Tag", value: "tag", sortable: false}],
      panel: [1],
      panelPool: [1],
      panelBuySell: [1],
      panelResolve: [1],
      panelRedeem: [1],
      panelWithdraw: [1],
      panelDeposit: [1],
      wagerPerRound: 1,
      creatorCommission: 1,
      transferAddress: '',
      yesAssured: 10,
      noAssured: 20,
      tag: '',
      baseAmt: 10,
      rowCount: 100,
      currentAccount: '',
      gameUrl: '',
      kvTable: [],
      kvTableHeaders: [{text: 'Key', value: 'Key', sortable: false}, {text: 'Val', value: 'Val', sortable: false}],
      snack: {
        display: false,
        duration: 4000,
        color: "info",
        text: "",
      },
    };
  },
  methods:{
    createEvent: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      const collateral = new BigNumber(1e18).multipliedBy(this.collateral).toString();
      //await tradableOdds.createEvent(key, startTime + expiry, eventName, 'desc', creatorCommissionBasisPoints, yesProbablityBasisPoints, {from: account1, value: new BigNumber(base).multipliedBy(0.7).toString()});

      await withSigner.createEvent(this.eventKey, this.eventEndTime, this.eventName, this.eventStatement, this.creatorCommission*100, this.yesProbability*100, {value: collateral})
    },
    purchaseYesNo: async function(){
        const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
        const sign = this.buyOrSell == this.BUY ? +1 : -1;
        const units = new BigNumber(1e18).multipliedBy(this.buySellAmt).multipliedBy(sign).toString();
        const worstPrice = new BigNumber(1e18).multipliedBy(this.buySellWorstPrice).toString();
        if (this.buyOrSell == this.BUY)
        await withSigner.transact(this.buySellEventKey, this.tokenYN, units, worstPrice, {value: worstPrice}).catch(e => {
          console.log(e)
          util.handleError(this.snack, e.data.message)
        }) ;
        else {
          await withSigner.transact(this.buySellEventKey, this.tokenYN, units, worstPrice).catch(e => {
          console.log(e)
          util.handleError(this.snack, e.data.message)
        }) ;
        }
    },
    suggestOutcome: async function(){
        let market = await this.client.contract.market(this.eventIDResolve);
        let yTokens = market.yesPool;
        let nTokens = market.noPool;
        const yPrice = nTokens*1/(yTokens*1 + nTokens*1)
        const nPrice = yTokens*1/(yTokens*1 + nTokens*1)
        if (yPrice > nPrice){
          alert('Based on Yes/No Token Price, suggest YES. Double check Actual Result');
          this.resolveYN = this.OUTCOME_YES
        }
        else {
          alert('Based on Yes/No Token Price, suggest NO. Double check Actual Result');
          this.resolveYN = this.OUTCOME_NO
        }
    },
    resolve: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      const moveWinningsToPlayers = true;
      const moveCollateralToCreator = true;
      withSigner.resolve(this.eventIDResolve, this.resolveYN, moveWinningsToPlayers, moveCollateralToCreator).catch(e => {
        console.log(e)
        util.handleError(this.snack, e.data.message)
      })  
    },
    deposit: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      await withSigner.deposit({value: new BigNumber(1e18).toString()}).catch(e => {
        console.log(e)
        util.handleError(this.snack, e.data.message)
      })  
    },
    transfer: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      await withSigner.transferBalance(this.transferAddress).catch(e => {
        util.handleError(this.snack, e.data.message)
      })  
    },
    withdraw: async function(){
      const withSigner = this.client.contract.connect(this.client.provider.getSigner()) 
      await withSigner.withdraw().catch(e => {
        util.handleError(this.snack, e.data.message)
      })  
    },
    createPool: async function(){
      await this.client.createPool(this.eventStartTimePool, this.eventNamePool, this.yesProbability*100, this.tokensToMint).catch(e => {
        util.handleError(this.snack, e.data.message)
      })
    },
    fetch: async function(){
        this.kvTable = [];
        this.event = await this.client.contract.tradableEvents(this.eventKeySearch);
        const eventKeySearch = this.eventKeySearch;
        const routeData = this.$router.resolve({name: 'predictiongame', params: {eventKeySearch}});
        this.gameUrl = routeData.href;
        console.log(this.gameUrl)
        let market = await this.client.contract.market(this.eventKeySearch);
        let resp = market.pot;
        this.pot = new BigNumber(resp.toString()).shiftedBy(-18).toFixed(5)
        this.kvTable.push({Key: 'Contract Address', Val: await this.client.contract.address})
        
        this.kvTable.push({Key: 'Event Creator', Val: this.event.creator})
        this.kvTable.push({Key: 'Event End Time', Val: this.event.endTime})
        this.kvTable.push({Key: 'Event Name', Val: this.event.name})
        this.kvTable.push({Key: 'Event Statement', Val: this.event.statement})
        
        this.kvTable.push({Key: 'Event Creator Commission %', Val: this.event.creatorCommissionBasisPoints/100})
        this.kvTable.push({Key: 'Event Outcome', Val: this.outcomes[this.event.outcome]})
        this.kvTable.push({Key: 'Pot', Val: this.pot})
        
        let yTokens = market.yesPool;
        console.log(ethers.utils);
        const formattedYTokens = ethers.utils.formatEther(new BigNumber(yTokens*1).toString());
        this.kvTable.push({Key: 'Pool YES Token', Val: formattedYTokens})
        let nTokens = market.noPool;
        const formattedNTokens = ethers.utils.formatEther(new BigNumber(nTokens*1).toString());
        this.kvTable.push({Key: 'Pool NO Token', Val: formattedNTokens})
        const yPrice = nTokens*1/(yTokens*1 + nTokens*1)
        const nPrice = yTokens*1/(yTokens*1 + nTokens*1)
        this.kvTable.push({Key: 'YES Token Price', Val:yPrice })
        this.kvTable.push({Key: 'NO Token Price', Val: nPrice})
        
        const playerCount =  market.totalPlayers;
        console.log(playerCount.toString())
        for (let idx=0; idx<playerCount.toString()*1; idx++){
          const player = await this.client.contract.players(this.eventKeySearch, idx);
          const yesPosition = await this.client.contract.yPositions(this.eventKeySearch, player);
          this.kvTable.push({Key: player + ' Yes Token Position', Val: ethers.utils.formatEther(new BigNumber(yesPosition*1).toString())})
          const noPosition = await this.client.contract.nPositions(this.eventKeySearch, player);
          this.kvTable.push({Key: player + ' No Token Position', Val: ethers.utils.formatEther(new BigNumber(noPosition*1).toString())})
          const balance = await this.client.contract.balances(player);
          this.kvTable.push({Key: player + ' Balance ', Val: new BigNumber(balance.toString()).shiftedBy(-18).toFixed(5)});
        }
        const creatorBalance = await this.client.contract.balances(this.event.creator);
        this.kvTable.push({Key: 'Creator Balance', Val: new BigNumber(creatorBalance.toString()).shiftedBy(-18).toFixed(5)});

        const contractBalance = await this.client.getContractBalance()
        this.kvTable.push({Key: 'Contract Balance', Val: new BigNumber(contractBalance.toString()).shiftedBy(-18).toFixed(5)})
        
        
    }
  }
  
}
</script>
