<template>
  <v-container fluid>
      <v-row cols="12">
          <v-col>
              <v-card>
                  <v-card-title>Wallet Balance</v-card-title>
                  <v-card-text>{{ethBalance}}</v-card-text>
                  <v-text-field v-model="amountToDepositWithdraw"></v-text-field>
                  <v-btn class="mr-2" primary @click="withdraw()">Withdraw</v-btn>
                  <v-btn class="ml-2" primary @click="deposit()">Deposit</v-btn>
              </v-card>
          </v-col>
      </v-row>
    <v-snackbar
      v-model="snack.display"
      :timeout="snack.duration"
      :color="snack.color"
    >
      {{ snack.text }}
      <v-btn text @click="snack.display = false">Close</v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import BigNumber from "bignumber.js"
import { EthersClient } from "../ethersclient";
import { Wallet } from "../wallet";
let initialized = false;
let client, wallet;
export default {
  activated: async function () {
    this.snack.display = false;
  },
  mounted: async function () {
    this.snack.display = false;
    if (true == initialized) return;
    client = new EthersClient();
    await client.init();
    wallet = new Wallet();
    await wallet.init();
    await this.balance();
    initialized = true;
  },
  data: function () {
    return {
      snack: {
        display: false,
        duration: 4000,
        color: "info",
        text: "",
      },
      ethBalance: '',
      amountToDepositWithdraw: ''
    };
  },
  methods: {
    deposit: async function () {
      await wallet.deposit(this.amountToDepositWithdraw)
    },
    withdraw: async function () {
        await wallet.withdraw(this.amountToDepositWithdraw)
    },
    balance: async function(){
        let ethBalanceBN = await wallet.balance();
        this.ethBalance = new BigNumber(ethBalanceBN.toString()).shiftedBy(-18).toFixed()
    }
  },
};
</script>