<template>
<v-app>
  <v-app-bar height="80" app v-show="false">
    
    <v-toolbar dense>
      <v-app-bar-nav-icon @click="home()"></v-app-bar-nav-icon>

      <v-toolbar-title>Blochain Labs</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn  @click="addNetwork()" color="primary" v-show="true">
        TestNet
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn v-show="false" icon @click="wallet()">
        <v-icon color="brown">fas fa-wallet</v-icon>
      </v-btn>
    </v-toolbar>
    
  </v-app-bar>
  <v-main fluid>
    
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
  </v-main>
  </v-app>
</template>

<script>
const data = {
  drawer: true, 
        color: 'primary',
        colors: [
          'primary',
          'blue',
          'success',
          'red',
          'teal',
        ],
        right: false,
        permanent: true,
        miniVariant: false,
        expandOnHover: false,
        background: false,
        appSelected:''
}
export default {
  name: "App",
  components: {},
  data: function(){
    return data
  },
  mounted: function(){
    this.$vuetify.theme.dark = false
  },
  methods:{
    home: function () {
      if (this.$route.name === 'home') return
      this.$router.push({name: 'home'})
    },
    wallet: function(){
      if (this.$route.name === 'wallet') return
      this.$router.push({name: 'wallet'})
    },
    addNetwork: async function(){
      let ethereum = window.ethereum;
          const data = [{
              chainId: '0xfa2',
              chainName: 'FantomTest',
              nativeCurrency: {
                name: 'Fantom',
                symbol: 'FTM',
                decimals: 18
              },
              rpcUrls: ['https://rpc.testnet.fantom.network/'],
              blockExplorerUrls: ['https://testnet.ftmscan.com']
          }]
        
        const tx = await ethereum.request({method: 'wallet_addEthereumChain', params:data}).catch()
        if (tx) {
            console.log(tx)
        }
    }
  }
};
</script>
<style lang="scss">
.fade-enter-active{
        transition: opacity 2.5s;
    }
    .fade-leave-active {
        opacity: 1;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
.theme--dark.v-application{
  background-color: #12121e;
  background: #12121e
}
.theme--dark.v-data-table  { 
  background-color: #1A1B33; 
}
.theme--dark.v-card { 
  background-color: #1A1B33; 
}
.theme--dark.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #12121e;
}
  .toolbar-title{
    color: black
  }
</style>
